@charset "UTF-8";

/**
 * Misc
========================================*/
img{
  max-width: 100%;
  height: auto;
}
html,body{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
}
body{
  background-image: url(/themes/hb5/assets/images/white_wall_hash.png);
}

/**
 * Header/Nav
========================================*/
#header nav{
  margin-bottom: 0px;
  border-radius: 0px;
}

/**
 * Front
========================================*/
.front .hero-block{
  height:550px;
  background: url(/themes/hb5/assets/images/hero.jpg) no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.front .hero-block:before{
  content:"";
  position: absolute;
  left:50%;
  bottom:-110px;
  margin-left: -110px;
  width:220px;
  height: 220px;
  background:#3BD0AA;
  border-radius: 50%;
}
.front .hero-block:after{
  content:"";
  position: absolute;
  left:50%;
  bottom:-80px;
  margin-left: -80px;
  width:160px;
  height: 160px;
  background-image: url(/files/hb5_logo.png);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

