@charset "UTF-8";

/**
 * Misc
========================================*/
*{
  -webkit-transition: all 0.3s ease-in-out;                  
  -moz-transition: all 0.3s ease-in-out;                 
  -o-transition: all 0.3s ease-in-out;   
  -ms-transition: all 0.3s ease-in-out;          
  transition: all 0.3s ease-in-out;
}
img{
  max-width: 100%;
  height: auto;
}
html,body{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
}
body{
  background-image: url(/themes/hb5/assets/images/white_wall_hash.png);
}

/**
 * Header/Nav
========================================*/
#header nav{
  margin-bottom: 0px;
  border-radius: 0px;
}

/**
 * Front
========================================*/
.front .hero-block{
  height:300px;
  background-image: url(/themes/hb5/assets/images/hero.jpg);
  background-position: center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.front .hero-block:before{
  content:"";
  position: absolute;
  left:50%;
  top:110px;
  margin-left: -40px;
  width:80px;
  height: 80px;
  background:#3BD0AA;
  border-radius: 50%;
}
.front .hero-block:after{
  content:"";
  position: absolute;
  left:50%;
  top:120px;
  margin-left: -30px;
  width:60px;
  height: 60px;
  background-image: url(/files/hb5_logo.png);
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (min-width: 768px) {
  .front .hero-block{
    background-attachment: fixed;
    height:550px;
    margin-bottom: 90px;
  }
  .front .hero-block:before{
    top:auto;
    height: 160px;
    width:160px;
    margin-left: -80px;
    bottom:-80px;
  }
  .front .hero-block:after{
    top:auto;
    height: 120px;
    width:120px;
    margin-left: -60px;
    bottom:-60px;
  }
}
.front .hb5-home-people-first,
.front .hb5-home-giving,
.front .hb5-home-always-learning,
.front .hb5-home-choice {
  padding:40px 0;
  font-size: 20px;
}
@media (min-width: 768px) {
  .front .hb5-home-people-first,
  .front .hb5-home-giving,
  .front .hb5-home-always-learning,
  .front .hb5-home-choice {
    padding:80px 0;
  }

}

